body.dark {
  background-color: $dark-background-color;
  text-shadow: $dark-text-shadow;
  color: $dark-light-font-color;

  a {
    color: $dark-colored-font-color;
  }

  ::selection {
    background-color: $accent-purple;
  }

  .blog-header {
    a {
      color: $dark-light-font-color;
    }
  }

  .bio {
    .author-name-content {
      background-color: $dark-category-border-color;
    }
    .author-introduction {
      color: $dark-middle-font-color;
    }
    a {
      color: $dark-colored-font-color;
    }
  }

  .project-wrapper {
    display: flex;
    justify-content: space-evenly;

    @media (max-width: 1024px) {
      flex-direction: column;
      align-items: center;
      :last-child {
        margin-bottom: 5rem;
      }
    }
  }

  .category-container {
    border-top: 1px solid $dark-category-border-color;
    border-bottom: 1px solid $dark-category-border-color;
    border-right: 6px solid $dark-category-border-color;
    border-left: 6px solid $dark-category-border-color;
    background-color: $dark-category-background-color;
    .item {
      border: 1px solid $dark-category-border-color;
      background-color: $dark-category-item-color;
      -webkit-box-shadow: 0px 1px 1px rgba(255, 255, 255, 0.1);
      box-shadow: 0px 1px 1px rgba(255, 255, 255, 0.1);
      a {
        color: $dark-middle-font-color;
      }
      &[aria-selected="true"] {
        border: 2px solid $dark-category-highlight-border-color;
        font-weight: bolder;
      }
      &[aria-selected="true"] a {
        color: $dark-category-highlight-text-color;
      }
    }
  }

  .thumbnail {
    h3 {
      color: $dark-light-font-color;
    }
    h6 {
      color: $dark-middle-font-color;
    }
    p {
      color: $dark-middle-font-color;
    }
    h3:hover {
      text-decoration: underline;
      color: $dark-link-color;
    }
  }

  // blog-post
  blockquote {
    border-left: 4px solid rgba(255, 255, 255, 0.822);
  }
  h1,
  h2 {
    border-bottom-color: rgba(255, 255, 255, 0.3);
  }
  .navigator {
    a {
      background-color: $dark-navigator-background-color;
      color: $dark-navigator-text-color;
    }
  }
  td {
    border-bottom: 1px solid #eee;
  }

  // inline code
  :not(pre) > code[class*="language-"] {
    background: $dark-inline-code-bg-color;
    color: $dark-inline-code-color;
  }
}
