body.light {
  background-color: $light-background-color;
  text-shadow: $light-text-shadow;

  a {
    color: $light-colored-font-color;
  }

  ::selection {
    background-color: $accent-blue;
  }

  .project-wrapper {
    display: flex;
    justify-content: space-evenly;

    @media (max-width: 1024px) {
      flex-direction: column;
      align-items: center;
      :last-child {
        margin-bottom: 5rem;
      }
    }
  }

  .blog-header {
    color: $dark-gray;
  }

  .bio {
    .author-name-content {
      background-color: $light-category-border-color;
    }
    .author-introduction {
      color: $middle-gray;
    }
  }

  .category-container {
    border-top: 1px solid $light-category-border-color;
    border-bottom: 1px solid $light-category-border-color;
    border-right: 6px solid $light-category-border-color;
    border-left: 6px solid $light-category-border-color;
    background-color: $light-category-background-color;
    .item {
      border: 1px solid $light-category-border-color;
      background-color: $light-category-item-color;
      -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
      a {
        color: $light-link-color;
      }
      &[aria-selected="true"] {
        border: 2px solid $light-category-highlight-border-color;
      }
      &[aria-selected="true"] a {
        color: $light-category-highlight-text-color;
      }
    }
  }

  .thumbnail {
    h3 {
      color: $dark-gray;
    }
    h3:hover {
      text-decoration: underline;
      color: $light-link-color;
    }
    p {
      color: $middle-gray;
    }
  }

  // blog-post
  .navigator {
    a {
      background-color: $light-navigator-background-color;
      color: $light-navigator-text-color;
    }
  }

  // inline code
  :not(pre) > code[class*="language-"] {
    background: $light-inline-code-bg-color;
    color: $light-inline-code-color;
  }
}
