$top-header-text-color: #fff;

// theme colors
$accent-blue: #0a28a8;
$accent-light-blue: #2d85f8;
$accent-ultra-light-blue: #c2dcff;
$accent-purple: #2e0961;
$accent-light-purple: #5a0792;
$accent-ultra-light-purple: #f4e3ff;
$theme-gradient: linear-gradient(to right, $accent-light-purple, $accent-blue);

// shades of gray
$dark-gray: #333;
$middle-gray: #7d7d7d;
$light-gray: #aaa;

//////////////////////////////
//////// LIGHT MODE //////////
//////////////////////////////
// body
$light-background-color: #fff;
$light-link-color: $accent-light-purple;
$light-text-shadow: 0 0 0.1px rgba(0, 0, 0, 0.3);
$light-colored-font-color: $accent-light-purple;

// code
$light-inline-code-bg-color: #ebebeb;
$light-inline-code-color: #11000e;

// blog post navigator
$light-navigator-text-color: $accent-light-purple;
$light-navigator-background-color: $accent-ultra-light-purple;
$blockquote-text-color: #999;

// category
$light-category-background-color: #f4f7f8;
$light-category-border-color: #ecf0f2;
$light-category-highlight-border-color: $accent-light-purple;
$light-category-highlight-text-color: #636c6e;
$light-category-item-color: #fff;

//////////////////////////////
///////// DARK MODE //////////
//////////////////////////////
// body
$dark-background-color: #282c35;
$dark-link-color: $accent-light-blue;
$dark-light-font-color: #eeeeee;
$dark-middle-font-color: #c4c3c3;
$dark-text-shadow: 0 0 0.1px rgba(255, 255, 255, 0.3);
$dark-colored-font-color: $accent-light-blue;

// code
$dark-inline-code-bg-color: #1d1d1d;
$dark-inline-code-color: #d4d4d4;

// blog post navigator
$dark-navigator-text-color: $accent-blue;
$dark-navigator-background-color: $accent-ultra-light-blue;

// category
$dark-category-background-color: #24272c;
$dark-category-border-color: rgb(56, 54, 54);
$dark-category-highlight-border-color: $accent-light-blue;
$dark-category-highlight-text-color: #fff;
$dark-category-item-color: #282c35;
