.blogCard {
  width: auto;
  background-color: white;
  padding: 0.5rem 2rem 2rem 2rem;
  border-collapse: collapse;
  border: 1px gainsboro;
  border-radius: 1rem;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.blogCardWrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 0;
}

.blogCardWrapperUl {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1rem;
  font-size: 0.9rem;
}

.blogCardSmallText {
  display: flex;
  align-items: center;
}

.blogCardTitle {
  font-size: 1.5rem;
  color: #020202;
}

.titleLink:hover {
  text-decoration: underline;
}

@media (max-width: 1024px) {
  .blogCardWrapper {
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 3em;
    grid-row-gap: 2.75em;
  }
}

@media (max-width: 710px) {
  .blogCardSmallText {
    justify-content: center;
  }

  .blogCard {
    text-align: center;
    margin: auto;
  }

  .blogCategoryWrapper {
    margin: 0 1.5rem;
    width: 320px;
  }

  .blogCardWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
