@keyframes accordion {
  0%,
  80%,
  100% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    box-shadow: var(--color-purple-1) -5px 5px, var(--color-purple-2) -10px 10px,
      var(--color-purple-3) -15px 15px, var(--color-purple-4) -20px 20px;
  }
  20% {
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
    box-shadow: var(--color-purple-1) -5px 8px, var(--color-purple-2) -10px 15px,
      var(--color-purple-3) -15px 22px, var(--color-purple-4) -20px 30px;
  }
  60% {
    -webkit-transform: translateY(10px);
    -ms-transform: translateY(10px);
    transform: translateY(10px);
    box-shadow: var(--color-purple-1) -5px 2.5px,
      var(--color-purple-2) -10px 5px, var(--color-purple-3) -15px 7.5px,
      var(--color-purple-4) -20px 9px;
  }
}

@keyframes mobile-accordion {
  0%,
  80%,
  100% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    box-shadow: var(--color-purple-1) 0 5px, var(--color-purple-2) 0 10px,
      var(--color-purple-3) 0 15px, var(--color-purple-4) 0 20px;
  }
  20% {
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
    box-shadow: var(--color-purple-1) 0 8px, var(--color-purple-2) 0 15px,
      var(--color-purple-3) 0 22px, var(--color-purple-4) 0 30px;
  }
  60% {
    -webkit-transform: translateY(10px);
    -ms-transform: translateY(10px);
    transform: translateY(10px);
    box-shadow: var(--color-purple-1) 0 2.5px, var(--color-purple-2) 0 5px,
      var(--color-purple-3) 0 7.5px, var(--color-purple-4) 0 9px;
  }
}

.blogCard {
  background-color: var(--color-bg-secondary);
  border: 1px var(--color-bg-secondary);
  padding: 0.5rem 2rem 2rem 2rem;
  border-collapse: collapse;
  border-radius: 1rem;
  box-shadow: var(--color-purple-1) -5px 5px, var(--color-purple-2) -10px 10px,
    var(--color-purple-3) -15px 15px, var(--color-purple-4) -20px 20px;

  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
}

.blogCard:hover {
  animation-name: accordion;
  -moz-animation-name: accordion;
}

.blogCardWrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 0;
}

.blogCardWrapperUl {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 0;
  font-size: 0.9rem;
}

.blogCardWrapperUl:last-child {
  margin-bottom: 4vh;
}

.blogCardSmallText {
  display: flex;
  align-items: center;
}

.categoryWrapper {
  padding: 0 0.25rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.titleLink a {
  font-size: 1.5rem;
  color: var(--color-text-primary);
  font-weight: 300;
}

.titleLink a:hover {
  text-decoration: underline;
  box-shadow: none;
}

@media (max-width: 1024px) {
  .blogCardWrapper {
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 4vh;
  }

  .categoryWrapper {
    margin: auto;
    justify-content: center;
  }
}

@media (max-width: 710px) {
  .blogCardSmallText {
    justify-content: center;
    flex-direction: column;
  }

  .blogCard {
    text-align: center;
    margin: auto;
    box-shadow: var(--color-purple-1) 0px 5px, var(--color-purple-2) 0px 10px,
      var(--color-purple-3) 0px 15px, var(--color-purple-4) 0px 20px;
  }

  .blogCard:hover {
    animation-name: mobile-accordion;
    -moz-animation-name: mobile-accordion;
  }

  .blogCardWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
