.blogCard {
  background-color: white;
  border: 1px white;
  padding: 0.5rem 2rem 2rem 2rem;
  border-collapse: collapse;
  border-radius: 1rem;
  box-shadow: #2f11b166 -5px 5px, #2f11b14d -10px 10px, #2f11b133 -15px 15px,
    #2f11b11a -20px 20px;
  cursor: pointer;
}

.blogCardWrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 0;
}

.blogCardWrapperUl {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 0;
  font-size: 0.9rem;
}

.blogCardWrapperUl:last-child {
  margin-bottom: 4vh;
}

.blogCardSmallText {
  display: flex;
  align-items: center;
  font-size: 15px;
}

.blogCardTitle {
  font-size: 1.5rem;
  color: #020202;
}

.categoryWrapper {
  padding: 0 0.25rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.titleLink:hover {
  text-decoration: underline;
}

@media (max-width: 1024px) {
  .blogCardWrapper {
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 4vh;
  }

  .categoryWrapper {
    margin: auto;
    justify-content: center;
  }
}

@media (max-width: 710px) {
  .blogCardSmallText {
    justify-content: center;
    flex-direction: column;
  }

  .blogCard {
    text-align: center;
    margin: auto;
    box-shadow: #2e11b159 0px 5px, #2e11b142 0px 10px, #2f11b133 0px 15px,
      #2f11b11a 0px 20px;
  }

  .blogCardWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
