@keyframes blog-accordion {
  0%,
  80%,
  100% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    box-shadow: var(--color-purple-1) -5px 5px, var(--color-purple-2) -10px 10px;
  }
  20% {
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
    box-shadow: var(--color-purple-1) -5px 8px, var(--color-purple-2) -10px 15px;
  }
  60% {
    -webkit-transform: translateY(10px);
    -ms-transform: translateY(10px);
    transform: translateY(10px);
    box-shadow: var(--color-purple-1) -5px 2.5px,
      var(--color-purple-2) -10px 5px;
  }
}

@keyframes talk-accordion {
  0%,
  80%,
  100% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    box-shadow: var(--color-pink-1) -5px 5px, var(--color-pink-2) -10px 10px;
  }
  20% {
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
    box-shadow: var(--color-pink-1) -5px 8px, var(--color-pink-2) -10px 15px;
  }
  60% {
    -webkit-transform: translateY(10px);
    -ms-transform: translateY(10px);
    transform: translateY(10px);
    box-shadow: var(--color-pink-1) -5px 2.5px, var(--color-pink-2) -10px 5px;
  }
}

.backToPosts {
  margin: 7vh 0;
  cursor: pointer;
}

.backToPosts {
  padding: 0.5em 0.75em;
  border-radius: 5em;
  width: max-content;
  font-size: 13.5px;
}

.backToPosts a {
  color: white;
  font-weight: 600;
}

.blogButton {
  background-color: var(--color-purple-0);
  box-shadow: var(--color-purple-1) -5px 5px, var(--color-purple-2) -10px 10px;
}

.blogButton:hover {
  animation: blog-accordion 0.5s ease-in-out;
}

.talkButton {
  background-color: var(--color-pink-0);
  box-shadow: var(--color-pink-1) -5px 5px, var(--color-pink-2) -10px 10px;
}

.talkButton:hover {
  animation: talk-accordion 0.5s ease-in-out;
}

.toggleWrapper {
  display: flex;
  justify-content: flex-end;
  padding: 2vh 2vw 0 0;
}

@media (max-width: 1024px) {
  .toggleWrapper {
    padding: 3vh 5vw 0 0;
  }
}
