.card {
  width: 420px;
}

.eventItem {
  padding: 0 1em;
}

.eventName:hover {
  text-decoration: underline;
}

.youtubeLink:hover {
  font-style: italic;
}

@media (max-width: 710px) {
  .card {
    max-width: 420px;
    text-align: center;
  }
}
