.categoryDefault {
  border: 2px solid #757575;
  color: #757575;
}

.categoryOne {
  border: 2px solid #ff2dd1;
  color: #ff2dd1;
}

.categoryTwo {
  border: 2px solid #1f80ff;
  color: #1f80ff;
}

.categoryThree {
  border: 2px solid #9544ff;
  color: #9544ff;
}

.categoryFour {
  border: 2px solid #00b1dd;
  color: #00b1dd;
}

.categoryFive {
  border: 2px solid #2b00e9;
  color: #2b00e9;
}

.categorySix {
  border: 2px solid #8200ce;
  color: #8200ce;
}

.categorySeven {
  border: 2px solid #ff90e7;
  color: #ff90e7;
}

.categoryEight {
  border: 2px solid #003ec4;
  color: #003ec4;
}

.categoryPill {
  font-weight: bold;
  border-radius: 1em;
  margin-left: 0.6rem;
  padding: 0.2em 0.5em;
  line-height: 1.3em;
  font-size: 12px;
}

.categorySelected {
  background-color: #6d6d6d;
}

/* @media (max-width: 1024px) {
  .categoryPill {
    font-size: 12px;
  }
} */
