.categoryOne {
  border: 2px solid #ff2dd1;
  color: #ff2dd1;
}

.categoryTwo {
  border: 2px solid #2b00e9;
  color: #2b00e9;
}

.categoryThree {
  border: 2px solid #9544ff;
  color: #9544ff;
}

.categoryPill {
  font-weight: bold;
  border-radius: 1em;
  margin-left: 0.6rem;
  padding: 0.2em 0.5em;
  line-height: 1.3em;
  font-size: 13px;
}

.categorySelected {
  background-color: #6d6d6d;
}
