.header a {
  font-size: 1.25rem;
  padding: 1.5rem;
  text-decoration: none;
  margin-top: 1.4rem;
}

.header a:hover {
  text-decoration: underline;
}

.landingHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Bree Serif', serif;
}

.landingPage {
  width: 100%;
  color: #0794e0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 750px;
  margin: auto;
  padding-bottom: 4em;
}

@media (max-width: 1024px) {
  .wrapper {
    width: auto;
    margin: 0 6em;
  }

  .navigation a {
    font-size: 17.5px;
    padding: none;
  }
}
