.landingHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Bree Serif', serif;
}

.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contentWrapper {
  max-width: 70vw;
  margin: auto;
  padding-bottom: 4em;
}

@media (max-width: 1024px) {
  .contentWrapper {
    max-width: 85vw;
    margin: 0 auto;
  }
}
