.header a {
  text-decoration: none;
  color: white;
  font-size: 1.25rem;
  padding: 1.5rem;
  margin-top: 1.4rem;
}

.header a:hover {
  text-decoration: underline;
}

.landingHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Bree Serif', serif;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 60vw;
  margin: auto;
  padding-bottom: 4em;
}

@media (max-width: 1024px) {
  .header {
    font-size: 14px;
    padding: 0.4rem;
  }

  .wrapper {
    max-width: 85vw;
    margin: 0 auto;
  }
}

@media (max-width: 710px) {
  .wrapper {
    width: 75vw;
    margin: 0 auto;
  }
}
