.blog-header {
  margin-top: 0;
  border-bottom: none;
  font-weight: 500;
  font-style: italic;
  font-size: 48px;
  letter-spacing: -1px;
}

.link {
  box-shadow: none;
  text-decoration: none;
  color: inherit;
}
