.intro {
  display: flex;
  font-size: 20px;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin-bottom: 3rem;

  @media (max-width: 1024px) {
    margin-bottom: 0.1rem;
  }

  & * {
    align-self: center;

    &:last-child {
      margin-bottom: 3rem;
    }
  }

  .intro-image {
    margin: 2rem;
    width: 102px;
    height: 102px;
  }
}
