@import url('https://fonts.googleapis.com/css2?family=Fira+Code&family=Fira+Sans:ital,wght@0,200;0,300;0,400;0,500;0,800;1,200;1,300;1,400;1,500;1,800&display=swap');

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 1vh 2.5vw;
  background: linear-gradient(72deg, #e23500, #ffbc2d);
  line-height: 1;
}

img {
  width: auto;
  height: 250px;
  padding-top: 2vh;
}

h1 {
  color: white;
  font-family: 'Fira Sans', sans-serif;
  font-size: 16vh;
  margin-bottom: 0;
}

h2 {
  color: white;
  font-family: 'Fira Code', monospace;
  font-size: 9vh;
}
