.aboutBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 685px;
  margin: auto;
}

.aboutBlock img {
  margin-bottom: 3em;
}

.aboutBlockText {
  /* margin: 2rem 0 0; */
}

.socialIcons {
  display: flex;
  align-items: center;
}

.socialIcons a {
  margin: 0 1em;
}

@media (max-width: 1024px) {
  .aboutBlockText {
    margin: auto;
    min-width: 60vw;
  }

  .aboutBlock {
    margin-bottom: 1.25rem;
  }
}
