.categoryInline {
  font-family: 'Fira Code', monospace;
  margin-left: 1em;
  font-weight: 800;
  font-size: 14px;
}

.categoryButton {
  font-family: 'Fira Code', monospace;
  margin: 0 0.75em;
  padding: 0.25em;
  cursor: pointer;
  color: var(--color-text-primary);
}

.categorySelected,
.categoryButton:hover {
  box-shadow: inset 0 -2em 0 0 var(--color-text-accent);
  font-weight: 800;
  color: var(--color-bg-primary);
}
