@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400&display=swap');

html,
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: whitesmoke;
  line-height: 1.5;
  font-size: 16px;
}

pre {
  display: block;
  white-space: pre;
  -webkit-overflow-scrolling: touch;
  overflow-x: scroll;
  tab-size: 2;
  /* max-width: 90%; */
  margin: 0;
  border-radius: 0.4rem;
}

code {
  font-family: 'Fira Code', monospace;
  font-size: inherit;
}

p > code,
li > code,
dd > code,
td > code {
  background: #dfdfdf;
  word-wrap: break-word;
  box-decoration-break: clone;
  padding: 0.1rem 0.3rem 0.2rem;
  border-radius: 0.2rem;
}

button {
  background-color: #c5c5c5;
  display: inline-block;
  padding: 0.3em 1.2em;
  margin: 0 0.8em 1.2em 0;
  border-radius: 2em;
  border: none;

  text-decoration: none;
  font-weight: 300;
  font-size: 15px;
  color: #fff;
  text-align: center;
  transition: all 0.2s;

  @media all and (max-width: 1024px) {
    display: block;
    margin: 0.2em auto;
  }
}

button:hover {
  background-color: #6d6d6d;
}

a {
  color: #1b1b1b;
  text-decoration: none;
}

p a {
  color: #1f00ac;
}

p a:hover {
  text-decoration: underline;
}

header {
  background-image: linear-gradient(72deg, #1f00ac, #ff2dd1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-height: 50px;
  min-height: 45px;
  padding: 0.75em 1.25em;
  color: white;
}

header a {
  text-decoration: none;
  padding: 0.6rem;
  color: white;
}

header a:hover {
  text-decoration: underline;
}

h1,
h2,
h3 {
  font-family: 'Bree Serif', serif;
  font-weight: 300;
}

article {
  max-width: 75vw;
  margin: auto;
}

footer {
  background-image: linear-gradient(72deg, #1f00ac, #ff2dd1);
  bottom: 0;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-height: 50px;
  min-height: 45px;
  padding: 0.5em;
}

footer a {
  color: white;
}

img {
  max-width: 55vw;
}

@media (max-width: 1024px) {
  header a {
    font-size: 14px;
    padding: 0.4rem;
  }

  header {
    display: block;
    min-height: 110px;
    font-size: 14px;
    text-align: center;
  }

  h1,
  h3 {
    text-align: center;
  }

  pre code {
    white-space: pre-wrap;
  }
}
