.heading2Xl {
  font-size: 2.8rem;
  line-height: 1.2;
  letter-spacing: -0.05rem;
  margin: 1rem 0;
}

.headingXl {
  font-size: 2.2rem;
  line-height: 1.3;
  letter-spacing: -0.05rem;
  margin: 1rem 0;
}

.headingLg {
  font-size: 1.5rem;
  line-height: 1.4;
  margin: 1rem 0;
}

.headingMd {
  font-size: 1.2rem;
  line-height: 1.5;
}

.padding1px {
  padding-top: 1px;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.listItem {
  margin: 0 0 1.9rem;
}

.lightText {
  color: #666;
}

.singleRow {
  display: flex;
  align-items: baseline;
}

.socialIcons {
  display: flex;
  align-items: center;
}

.socialIcons a {
  margin: 0 1em;
}

.roundImage {
  border-radius: 9999px;
}

.vertical {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.blogPostHeading {
  font-size: 1.5rem;
  color: #020202;
}

.blogPostHeading:hover {
  text-decoration: underline;
}

.blogItemCategory {
  display: flex;
  align-items: center;
}

.aboutBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 685px;
  text-align: center;
}

.aboutBlock img {
  margin-bottom: 3em;
}

/* .<title>Category {
  background-color: #e4960498;
  color: white;
  border-radius: 1em;
  margin-left: 0.6rem;
  padding: 0.2em 0.5em;
  line-height: 1.3em;
  font-size: 13px;
} */

.categorySelected {
  background-color: #6d6d6d;
}

.backToHome {
  margin-bottom: 2rem;
}

/* @media (max-width: 1024px) {
} */
