/* layout */
.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content-wrapper {
  max-width: 70vw;
  margin: auto;
  padding-bottom: 4em;
}

@media (max-width: 1024px) {
  .content-wrapper {
    max-width: 85vw;
    margin: 0 auto;
  }
}

/* text */
.center-text {
  text-align: center;
}

.heading-2xl {
  font-size: 2.8rem;
  line-height: 1.2;
  letter-spacing: -0.05rem;
  margin: 1rem 0;
}

.heading-xl {
  font-size: 2.2rem;
  line-height: 1.3;
  letter-spacing: -0.05rem;
  margin: 1.75rem 0 1rem 0;
}

.heading-lg {
  font-size: 1.5rem;
  line-height: 1.4;
  margin: 1rem 0;
}

.heading-md {
  font-size: 1.2rem;
  line-height: 1.5;
}

.light-text {
  color: var(--color-text-secondary);
}

/* common backgrounds */
.white-bg {
  background: var(--color-bg-primary);
  padding: 0.75rem 3rem;
  border-radius: 0.75rem;
}

/* page divider */
.page-divider {
  height: 1.5px;
  width: 100%;
  border: none;
  margin: 2.5rem 0 2rem 0;
  color: var(--color-text-accent);
  background-color: var(--color-text-accent);
}

/* styled link used across pages */
.styled-link {
  color: var(--color-text-accent);
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.styled-link:hover {
  text-decoration: underline;
}

/* intro paragraph (speaking page etc) */
.intro-paragraph {
  max-width: 50vw;
  margin: 0 auto 3rem auto;
}

@media (max-width: 1024px) {
  .intro-paragraph {
    max-width: 80vw;
  }
}

/* misc */
.hide-in-mobile {
  display: inline;
}

@media (max-width: 1024px) {
  .hide-in-mobile {
    display: none;
  }
}

.padding-1px {
  padding-top: 1px;
}

.round-image {
  border-radius: 9999px;
}

.single-row {
  display: flex;
  align-items: center;
  gap: 1em;
}

@media (max-width: 1024px) {
  .single-row {
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1em;
  }

  .heading-2xl {
    font-size: 2rem;
    line-height: 1;
    letter-spacing: -0.05rem;
    margin: 1rem 0;
  }

  .heading-xl {
    font-size: 1.7rem;
    line-height: 1;
  }

  .heading-lg {
    font-size: 1.4rem;
  }
}

.vertical {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* footer */
.footer {
  background-image: var(--linear-gradient);
  color: white;
  bottom: 0;
  width: 100%;
  font-size: 1.1rem;
  padding: 1rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer a {
  color: white;
  margin: 0 0.75rem;
}
