<div class="wrapper">
  <main>
    <h1>{{ title }}</h1>
  </main>
  <footer>
    <img src="https://raw.githubusercontent.com/kale-stew/kylieis.online/main/public/notion-kylie.png" />
    <h2>kylieis.online</h2>
  </footer>
</div>