@import url('https://fonts.googleapis.com/css2?family=Fira+Code&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Arsenal:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: linear-gradient(72deg, #e23500, #ffbc2d);
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  align-items: center;
  margin: 0 auto;
  padding: 1vh 2.5vw;
  line-height: 1;
}

h1 {
  text-align: center;
  background: white;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-family: 'EB Garamond', serif;
  font-size: 16vh;
  text-transform: uppercase;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

h2 {
  color: white;
  margin: 1 0 0 0;
  font-family: 'Fira Code', monospace;
  font-size: 10vh;
}
