@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Fira+Code&display=swap');

.wrapper {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  margin: 2vh 3vw 9vh 20vw;
}

h1 {
  text-align: right;
  background: rgb(11,35,238);
  background: linear-gradient(72deg, #1f00ac, #ff2dd1);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-family: 'Bree Serif', serif;
  font-size: 16vh;
  text-transform: uppercase;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

h2 {
  color: white;
  margin: 0;
  font-family: 'Fira Code', monospace;
  font-size: 10vh;
}

h3 {
  text-align: right;
  background: rgb(11,35,238);
  background: linear-gradient(72deg, #1f00ac, #ff2dd1);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-family: 'Bree Serif', serif;
  font-size: 8vh;
  font-style: italic;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

footer {
  flex: 0 0;
  min-height: 20vh;
  display: flex;
  align-items: center;
  background: rgb(11,35,238);
  background: linear-gradient(72deg, #ff2dd1, #1f00ac);
  padding: 2vh 3vw 2vh 3vw;
}

footer img {
  width: auto;
  height: 100%;
  border-radius: 50%;
  margin-right: 3vw;
}